[MAIN]

disable=
    attribute-defined-outside-init,
    consider-using-f-string,
    consider-using-generator,
    consider-using-join,
    consider-using-with,
    duplicate-code,
    import-error,
    inconsistent-return-statements,
    invalid-name,
    line-too-long,
    missing-module-docstring,
    raise-missing-from,
    too-few-public-methods,
    too-many-arguments,
    too-many-branches,
    too-many-instance-attributes,
    too-many-locals,
    too-many-return-statements,
    too-many-statements,
    too-many-nested-blocks,
    unnecessary-lambda-assignment,
    wrong-import-position,
ignore=
    backup_intune.py,
    backup_entra.py,
    update_intune.py,
    update_entra.py,
    run_backup.py,
    run_update.py,
    document_intune.py,
    document_entra.py,
    run_documentation.py,
